
.cmp-container--py-1{
    padding: 1rem 0rem;
}

.cmp-container--py-2{
    padding: 2rem 0rem;
}

.cmp-container--py-3{
    padding: 3rem 0rem;
}

.cmp-container--my-1{
    margin: 1rem 0rem;
}

.cmp-container--my-2{
    margin: 2rem 0rem;
}

.cmp-container--my-3{
    margin: 3rem 0rem;
}