.cmp-title__link{
    text-decoration: none;
    color: inherit;
    cursor: text;
}

.cmp-title--centered{
text-align: center;
}

.cmp-title--bold .cmp-title__link{
font-weight: bold;
}

.cmp-title--m .cmp-title__link{
    font-size: 1.2rem;
}

.cmp-title--l .cmp-title__link{
    font-size: 1.5rem;
}

.cmp-title--xl .cmp-title__link{
    font-size: 2rem;
}

.cmp-title--2xl .cmp-title__link{
    font-size: 2.5rem
}

.cmp-title--3xl .cmp-title__link{
    font-size: 3rem
}

.cmp-title--margin-bottom-m{
    margin-bottom: 1rem;
}

.cmp-title--margin-bottom-l{
    margin-bottom: 2rem;
}

.cmp-title--margin-top-m{
    margin-top: 1rem;
}

.cmp-title--margin-top-l{
    margin-top: 2rem;
}